@font-face {
    font-family: montserrat;
    src: url("Montserrat-VariableFont_wght.ttf");
}
body{
    background: url("./background.webp");
    background-size: cover;
    height: 100vh;
    background-position: center;
    margin: 0;
    color: aliceblue;
    font-family: montserrat;
}
h1{
    text-align: center;
}
.e1{
    color: rgb(255, 183, 207);
    font-size: 1.2em;
    font-weight: 600;
    text-align: justify;
}
.maindiv{
    background-color: #0009;
    width: fit-content;
    margin: auto;
    padding: 30px;
    padding-top: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    max-width: 50em;
}
/*.funny{
    background: linear-gradient( rgba(255, 255, 255, 0.266) 0%, rgb(0, 0, 0) 55%, rgba(255, 98, 226, 0.489) 100%);
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -100%);
}*/
.funny{
    position: absolute;
    left: 50%;
    transform: translate(-50% , -100%);
    border: solid 8px transparent;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ff38e4 25%,white 40%, rgb(0, 0, 0)69%), radial-gradient(circle at top left, rgb(255, 0, 140), #3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.borderfunny{
    border-radius: 50%;
    display: block;
}
.socmed{
    background-color: #0009;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    font-size: 1.15em;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: transform .05s;
}
.socmed:hover{
    transform: scale(.95);
}
.socmed img{
    position: absolute;
    transform: translate(-50% , -50%);
    border: solid 3px white;
    border-radius: 50%;
    left: 0%;
    top: 0%;
}
.description{
    color: rgb(132, 132, 132);
    font-size: .9em;
}
.socbox{
    display: flex;
    justify-content: space-between;
  
}
.alloem{
    padding: 0 2em;
}
.funnyaudio{
    translate: -10px -80px;
    border-radius: 8px;
    width: 3em;
}
.shoutout{
    background-color: #0009;
    width: fit-content;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: end;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    max-width: 50em;
}
.psylink{
    text-decoration: none;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 300s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}
.audionpointer{
    position: absolute;
}
.pointerimg{
    transform: scale(50%);
    position: absolute;
    left: -40%;
    top: -230%;
    transition: transform .1s;
}
.pointerimg:hover{
    transform: scale(40%);
}